.text-fxcm-blue {
  color: $fxcm_blue !important;
}
.bg-fxcm-blue {
  background: $fxcm_blue !important;
}

.text-fxcm-cyan {
  color: $fxcm_cyan !important;
}
.bg-fxcm-cyan {
  background: $fxcm_cyan !important;
}

.text-fxcm-gold {
  color: $fxcm_gold !important;
}
.bg-fxcm-gold {
  background: $fxcm_gold !important;
}

.text-fxcm-night {
  color: $fxcm_night !important;
}
.bg-fxcm-night {
  background: $fxcm_night !important;
}

.text-fxcm-gray {
  color: $fxcm_gray !important;
}
.bg-fxcm-gray {
  background: $fxcm_gray !important;
}

.text-fxcm-gray-a {
  color: $fxcm_gray_a !important;
}
.bg-fxcm-gray-a {
  background: $fxcm_gray_a !important;
}

.text-fxcm-gray-b {
  color: $fxcm_gray_b !important;
}
.bg-fxcm-gray-b {
  background: $fxcm_gray_b !important;
}

.text-fxcm-white {
  color: $fxcm_white !important;
}
.bg-fxcm-white {
  background: $fxcm_white !important;
}