h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  @include open_sans();
}

@mixin h_main {
  font-size: 1.5rem;
  line-height: 1.5rem;
  @include open_sans();
  color: $fxcm_night;
  text-transform: capitalize;
}
@mixin h_secondary {
  font-size: 1.5rem;
  line-height: 1.5rem;
  @include open_sans();
  color: $fxcm_gray_b;
  text-transform: capitalize;
}
@mixin h_label {
  font-size: 1.2rem;
  line-height: 1.2rem;
  @include open_sans_bold();
  color: $fxcm_night;
  text-transform: capitalize;
}

.h-main       { @include h_label(); }
.h-secondary  { @include h_secondary(); }
.h-label      { @include h_label(); }